<div class="container" id="about">
  <div class="row justify-center mt-5">
    <div class="col-12">

      <h1 class="greenNeon text-center">Sobre mim</h1>
    </div>

  </div>
  <div class="row text-light mt-5">
    <div class="col-md-6 col-sm-12">
        <div class="d-flex mt-4">
          <div class="card mb-3 border border-danger me-3" style="width: 18rem; background-color: black; border-radius: 10px;">
            <div class="card-body">
              <h5 class="card-title greenNeon">Biografia</h5>
              <p class="card-text">Aqui eu conto sobre como me tornei desenvolvedor de software.</p>
              <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger">Ver mais</a>
            </div>
          </div>
          <div class="card mb-3 border border-danger" style="width: 18rem; background-color: black; border-radius: 10px;">
            <div class="card-body">
              <h5 class="card-title greenNeon">Experiências</h5>
              <p class="card-text">Um resumo sobre minhas experiências como programador.</p>
              <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal2" class="btn btn-danger">Ver mais</a>
            </div>
          </div>

        </div>
        <div class="d-flex second-row" style="margin-left: 50px;">
          <div class="card mb-3 border border-danger me-3" style="width: 18rem; background-color: black; border-radius: 10px;">
            <div class="card-body">
              <h5 class="card-title greenNeon">Tecnologias</h5>
              <p class="card-text">Aqui consta uma lista de tecnologias utilizadas nos meus trabalhos</p>
              <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal3" class="btn btn-danger">Ver mais</a>
            </div>
          </div>
          <div class="card mb-3 border border-danger" style="width: 18rem; background-color: black; border-radius: 10px;">
            <div class="card-body">
              <h5 class="card-title greenNeon">Objetivos profissionais</h5>
              <p class="card-text">Aqui eu falo sobre meus objetivos como profissional de tecnologia</p>
              <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal4" class="btn btn-danger">Ver mais</a>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <img class="img-fluid"id="profile-pic" src="../../assets/img/profile-pic.jpeg" alt="" srcset="">
    </div>
  </div>

</div>

  <!-- Modal1 -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-dark" style="border-radius: 10px;">
      <div class="modal-content bg-dark">
        <div class="modal-header bg-dark">
          <h5 class="modal-title greenNeon" id="exampleModalLabel">Biografia</h5>
        </div>
        <div class="modal-body bg-dark">
            <p class="text-light">Sou carioca, moro em Curitiba, e desde criança sou apaixonado por computadores, videogames, RPG de mesa, entre outras coisas nerds. Em 2017 iniciei meus estudos em algoritmos e lógica de programação, além da faculdade de Análise e desenvolvimento de sistemas, porém precisei pausar meu sonho de ser Dev. Com a pandemia e o confinamento, eu enxerguei o cenário perfeito para passar horas em frente o computador estudando e me aperfeiçoando, e em 6 meses de estudos intensos eu consegui minha primeira oportunidade. Hoje sou Desenvolvedor Pleno em uma multinacional e continuo estudando e evoluindo para alcançar espaços cada vez maiores.</p>
        </div>
        <div class="modal-footer bg-dark">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-dark" style="border-radius: 10px;">
      <div class="modal-content bg-dark">
        <div class="modal-header bg-dark">
          <h5 class="modal-title greenNeon" id="exampleModalLabel">Experiências</h5>
        </div>
        <div class="modal-body bg-dark">
            <p class="text-light">Como Desenvolvedor Fullstack, possuo experiência em desenvolvimento web de ponta a ponta, sempre utilizando as melhores práticas de desenvolvimento, metodologias ágeis, e os mais atuais conceitos de UI/UX para proporcionar a melhor experiência possível ao usuário final.</p>
        </div>
        <div class="modal-footer bg-dark">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-dark" style="border-radius: 10px;">
      <div class="modal-content bg-dark">
        <div class="modal-header bg-dark">
          <h5 class="modal-title greenNeon" id="exampleModalLabel">Tecnologias</h5>
        </div>
        <div class="modal-body bg-dark">
            <ul class="p-0">
                <div class="d-flex justify-content-around">
                  <li>
                    <img src="../../assets/img/html-5-svgrepo-com.svg" alt="HTML logo" height="100px" width="100px">
                    <p class="text-light text-center">HTML5</p>
                  </li>
                  <li>
                    <img src="../../assets/img/css-3-logo.svg" alt="CSS logo" height="100px" width="100px">
                    <p class="text-light text-center">CSS3</p>

                  </li>
                  <li>
                    <img src="../../assets/img/javascript-svgrepo-com.svg" alt="JS logo" height="100px" width="100px">
                    <p class="text-light text-center">Javascript</p>

                  </li>
                  <li>
                    <img src="../../assets/img/typescript-svgrepo-com.svg" alt="TS logo" height="100px" width="100px">
                    <p class="text-light text-center">Typescript</p>

                  </li>
                </div>
                <div class="d-flex justify-content-around">
                  <li>
                    <img src="../../assets/img/angular-svgrepo-com.svg" alt="Angular logo" height="100px" width="100px">
                    <p class="text-light text-center">Angular</p>
                  </li>
                  <li>
                    <img src="../../assets/img/php-svgrepo-com.svg" alt="PHP logo" height="100px" width="100px">
                    <p class="text-light text-center">PHP</p>
                  </li>
                  <li>
                    <img src="../../assets/img/java-svgrepo-com.svg" alt="Java logo" height="100px" width="100px">
                    <p class="text-light text-center">Java</p>
                  </li>
                  <li>
                    <img src="../../assets/img/mysql-logo-svgrepo-com.svg" alt="MySQL logo" height="100px" width="100px">
                    <p class="text-light text-center">MySQL</p>
                  </li>
                </div>
              </ul>
        </div>
        <div class="modal-footer bg-dark">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-dark" style="border-radius: 10px;">
      <div class="modal-content bg-dark">
        <div class="modal-header bg-dark">
          <h5 class="modal-title greenNeon" id="exampleModalLabel">Objetivos profissionais</h5>
        </div>
        <div class="modal-body bg-dark">
          <p class="text-light">Meus objetivos profissionais como desenvolvedor de software incluem continuar a me desenvolver e aprimorar minhas habilidades em tecnologias atuais e futuras. Almejo trabalhar em projetos desafiadores que possibilitem a aplicação de soluções inovadoras e eficientes.</p>
        </div>
        <div class="modal-footer bg-dark">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
