<div class="container-fluid p-5" id="projects">
    <h1 class="greenNeon text-center mb-5">Projetos</h1>
    <div class="row center-block">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card text-light border border-danger " style="background-color: black; border-radius: 10px;">
              <div class="card-body">
                <h5 class="card-title greenNeon">Projeto 1</h5>
                <p class="card-text">Descrição do projeto 1</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card text-light border border-danger " style="background-color: black; border-radius: 10px;">
              <div class="card-body">
                <h5 class="card-title greenNeon">Projeto 2</h5>
                <p class="card-text">Descrição do projeto 2</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card text-light border border-danger " style="background-color: black; border-radius: 10px;">
              <div class="card-body">
                <h5 class="card-title greenNeon">Projeto 3</h5>
                <p class="card-text">Descrição do projeto 3</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card text-light border border-danger " style="background-color: black; border-radius: 10px;">
              <div class="card-body">
                <h5 class="card-title greenNeon">Projeto 4</h5>
                <p class="card-text">Descrição do projeto 4</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card text-light border border-danger " style="background-color: black; border-radius: 10px;">
              <div class="card-body">
                <h5 class="card-title greenNeon">Projeto 5</h5>
                <p class="card-text">Descrição do projeto 5</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card text-light border border-danger " style="background-color: black; border-radius: 10px;">
              <div class="card-body">
                <h5 class="card-title greenNeon">Projeto 5</h5>
                <p class="card-text">Descrição do projeto 5</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card text-light border border-danger " style="background-color: black; border-radius: 10px;">
              <div class="card-body">
                <h5 class="card-title greenNeon">Projeto 5</h5>
                <p class="card-text">Descrição do projeto 5</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card text-light border border-danger " style="background-color: black; border-radius: 10px;">
              <div class="card-body">
                <h5 class="card-title greenNeon">Projeto 5</h5>
                <p class="card-text">Descrição do projeto 5</p>
              </div>
            </div>
          </div>
    </div>
</div>
