<section id="contact" class="p-5">
    <div class="container">
      <h2 class="text-center greenNeon mb-5">Contato</h2>
      <div class="row">
        <div class="row d-flex col-sm-12 col-md-6 flex-column">
          <div class="col-12 mb-3 ">
            <i class="fas m-0 me-3 greenNeon fa-phone" style="font-size: 20px;"></i>
            <i class="fa-brands fa-whatsapp greenNeon" style="font-size: 20px;"></i>
            <p class="text-light ">Telefone:</p> <a class="greenNeon" target="_blank" href="https://contate.me/lucas-porto">(41) 99934-5634</a>
          </div>
          <div class="col-12 mb-3 ">
            <i class="fas m-0 me-3 greenNeon fa-envelope" style="font-size: 20px;"></i>
            <p class="text-light ">E-mail:</p> <a class="greenNeon" target="_blank" href="mailto:porto.lucas.lp@gmail.com" >porto.lucas.lp@gmail.com</a>
          </div>
          <div class="col-12 mb-3 ">
            <i class="fas m-0 me-3 greenNeon fa-map-marker-alt" style="font-size: 20px;"></i>
            <p class="text-light ">Endereço:</p> <a class="greenNeon" target="_blank" href="https://goo.gl/maps/79FgYkqrnrSiezqM7">Curitiba-PR</a>
          </div>
        </div>
        <div class="row d-flex col-sm1-2 col-md-6">
          <img src="../../assets/img/contact-img.jpeg" alt="" srcset="">
          <ngx-typed-js class="text-center text-light" [strings]="strings" [loop]="true" [backSpeed]="30"
          [shuffle]="true" [typeSpeed]="80">
              <span class=" text-light typing"></span>
          </ngx-typed-js>
        </div>
      </div>
    </div>
  </section>
