<section id="contact" class="p-5">
    <div class="container">
      <h2 class="text-center greenNeon mb-5">Contato</h2>
        <div class=" d-flex col-12 justify-content-between" style="font-size: 18px;">
          <div class=" mb-3 ">
            <i class="fas m-0 me-3 greenNeon fa-phone" style="font-size: 20px;"></i>
            <i class="fa-brands fa-whatsapp greenNeon" style="font-size: 20px;"></i>
            <p class="text-light ">Telefone:</p> <a class="greenNeon" target="_blank" href="https://contate.me/lucas-porto">(41) 99934-5634</a>
          </div>
          <div class=" mb-3 " id="e-mail" style="margin-right: 40px;">
            <i class="fas m-0 greenNeon fa-envelope" style="font-size: 20px;"></i>
            <p class="text-light ">E-mail:</p> <a class="greenNeon" target="_blank" href="mailto:porto.lucas.lp@gmail.com" >porto.lucas.lp@gmail.com</a>
          </div>
          <div class=" mb-3 ">
            <i class="fa-brands m-0 greenNeon fa-linkedin" style="font-size: 20px;"></i>
            <p class="text-light ">LinkedIn:</p> <a class="greenNeon" target="_blank" href="https://www.linkedin.com/in/lucas-porto-843389198/">Lucas Porto</a>
          </div>
      </div>
    </div>
  </section>
