* {
    text-align: center !important;
}

a:hover {
    color: red;
}
p {
    margin: 0 !important;
}
img {
    width: 65%;
    margin: 0 auto;
    border-radius: 65px;
}

@media screen and (max-width: 768px) {
    img {
        border-radius: 30px;
    }
}

@media screen and (max-width: 425px) {
    :host {
        text-align: center;
        height: 60vh !important;
    }
    .justify-content-between {
        flex-direction: column;
    }
    #e-mail {
        margin-right: 0 !important;
    }
    .fa-map-marker-alt, .fa-envelope {
        margin: 0;
    }

}
