.header {
    .navbar {
      font-size: 1.2rem;
      font-weight: 300;
      font-family: 'Roboto Mono', monospace;

      .nav-link {
        color: #00ff00;
        text-shadow: 0 0 2px #00ff00;
        font-size: 0.9rem;
      }
    }
  }

