<div id="home"></div>
<ng-particles [id]="id" [options]="particlesOptions" [particlesInit]="particlesInit"
  (particlesLoaded)="particlesLoaded($event)">
</ng-particles>

<div style="color: white;" class="content-container">

  <ngx-typed-js [strings]="['pontual.', 'curioso.', 'criativo.', 'ágil.']" [loop]="true" [backSpeed]="30"
  [shuffle]="true" [typeSpeed]="80">
    <h1>Olá,<br> me chamo <span style="color: #c80000;">Lucas Porto</span></h1>
    <div class="d-flex typing-content">
      <h1 style="margin-top: 0.4rem!important">e eu sou&nbsp;</h1><span style="font-size: 40px;" class="typing"></span>
    </div>
    <br><p>Um Desenvolvedor Fullstack que irá transformar suas ideias de negócio em realidade.</p>
  </ngx-typed-js>
</div>
